@import url(pallete.css);

@keyframes appear-1 {
  0% {
    opacity: 10%;
    color: var(--textPrimaryLight);
    filter: blur(3px);
    margin-left: -30px;
    transform: rotateY(30deg);
    transform-origin: 0;
  }
  100% {
    opacity: 100%;
    filter: none;
    transform: rotateX(0deg);
  }
}

@keyframes popup {
  0% {
    opacity: 0%;
    filter: blur(3px);
  }
  100% {
    opacity: 100%;
    filter: none;
  }
}

@keyframes popup-close {
  0% {
    opacity: 100%;
    filter: none;
  }
  100% {
    opacity: 0%;
    filter: blur(3px);
  }
}

@keyframes burger-menu-anim-in {
  0% {
    box-shadow: #00000000 0 0 600px 300px;
    transform: translateX(-100%);
  }
  100% {
    box-shadow: #00000099 0 0 600px 300px;
    transform: translateX(0%);
  }
}

@keyframes burger-menu-anim-out {
  0% {
    box-shadow: #00000099 0 0 600px 300px;
    transform: translateX(0%);
  }
  100% {
    box-shadow: #00000000 0 0 600px 300px;
    transform: translateX(-100%);
  }
}
