@import url("pallete.css");
@import url("animations.css");

body {
  height: max-content;
  background-image: linear-gradient(
    40deg,
    var(--textPrimaryDark) 10%,
    var(--primaryDark) 40%,
    var(--textPrimaryDark) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222;
  margin: 0;
  padding: 0;
}
.content {
  backdrop-filter: blur(15px);
}
.content-box {
  font-family: "Oxanium", cursive;
  color: var(--textLight);
  margin: 3%;
  background-image: linear-gradient(
    137deg,
    var(--textPrimaryDark) 10%,
    var(--primaryDark) 50%,
    var(--textPrimaryDark) 100%
  );
  fill-opacity: 50%;
  padding: 5%;
  border-radius: 15px;
  text-shadow: black 0 0 0 1px;
  box-shadow: black 0 0 20px 2px;
}
h3 {
  font-weight: 600;
  font-size: 24pt;
  transition-duration: 300ms;
  animation: 1s ease-out 0s 1 appear-1;
}
h3:hover {
  color: var(--textPrimaryLight);
  font-weight: 900;
  letter-spacing: 3pt;
}
