@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");
@import url("pallete.css");
.header {
  display: block;
  position: relative;
  z-index: 2;
}
.title {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  background-image: linear-gradient(
    to right,
    var(--primaryDark),
    var(--primary),
    var(--primaryDark)
  );
  color: var(--textLight);
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  top: 0;
  left: 0;
  height: 12%;
  overflow: hidden;
  box-shadow: #000 0 0 20px;
  border-radius: 0 0 15px 15px;
  gap: 5%;
}

.title h2 {
  display: block;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 10px;
  font-family: "Oxanium", cursive;
  font-size: 24pt;
  transition-duration: 300ms;
}
.title h2:hover {
  letter-spacing: 15px;
  text-shadow: var(--textLight) 0 0 10px;
}

.toolbar {
  z-index: 0;
  display: flex;
  position: relative;
  background-image: radial-gradient(
    circle,
    var(--primaryDark),
    var(--primary),
    var(--primaryDark)
  );
  margin-top: -70px;
  padding: 2%;
  padding-top: 90px;
  padding-bottom: 20px;
  gap: 5%;
  border-radius: 0 0 15pt 15pt;
  color: var(--textLight);
  font-family: "Oxanium", cursive;
  box-shadow: #000 0 0 20px;
  overflow-x: auto;
}

.menu {
  display: block;
}

.toolbar-option {
  cursor: pointer;
  color: var(--textLight);
  transition-duration: 300ms;
  text-decoration: none;
}

.toolbar-option:hover {
  text-shadow: var(--primaryLight) 0 0 10px;
  letter-spacing: 3pt;
  color: var(--textPrimaryLight);
}

#burger-menu-button {
  display: block;
  position: relative;
  background-color: transparent;
  border: 0px;
  color: var(--textLight);
  margin-top: auto;
  margin-bottom: auto;
}
